:root {
    --bg-gradient: linear-gradient(to bottom right, #330000, #1a0000);
    --accent-gradient: linear-gradient(to right, #ff4141, #ff8282);
    --text-main: #fbebeb;
    --text-muted: #ffb3b3;
    --accent-main: #ff4141;
}