/* --- css/designs/design-anlios.css --- */
:root {
    --font-pixel: 'Press Start 2P', cursive;
    --font-sans: 'Roboto', sans-serif;
    --border-radius: 0;
    --border-main-width: 4px;
    --border-secondary-width: 2px;
    --card-shadow: none;
}