/* --- css/designs/design-nordic.css --- */
:root {
    --font-pixel: 'Cinzel', serif;
    --font-sans: 'Cinzel', serif;
    --border-radius: 2px;
    --border-main-width: 0px;
    --border-secondary-width: 0px;
    --card-shadow: none;
}
body[data-design="nordic"] .card {
    border-image: url("https://i.imgur.com/VIJ4N2M.png") 10 stretch;
    border-width: 10px;
    border-style: solid;
}