:root {
    --font-pixel: 'Inter', sans-serif;
    --font-sans: 'Inter', sans-serif;
    --border-radius: 1rem;
    --border-main-width: 0px;
    --border-secondary-width: 0px;
    --card-shadow: 7px 7px 15px rgba(0,0,0,0.1), -7px -7px 15px rgba(255,255,255,0.7);
}
body[data-design="neumorphism"] .card {
    box-shadow: var(--card-shadow);
}
body[data-design="neumorphism"] .btn {
    box-shadow: var(--card-shadow);
}