:root {
    --bg-gradient: linear-gradient(to bottom right, #0d0221, #241b4f);
    --accent-gradient: linear-gradient(to right, #00c6ff, #ff00cc);
    --text-main: #f0f0f0;
    --text-muted: #a49ed9;
    --accent-main: #00c6ff;
}