<!DOCTYPE html>
<html lang="{{ g.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Anlios Dashboard{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}">

    <!-- Bloque para estilos de tema -->
    {% block theme_styles %}{% endblock %}

    <!-- INICIO DE LA MODIFICACIÓN: Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3RRE4CB7V5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3RRE4CB7V5');
    </script>
    <!-- FIN DE LA MODIFICACIÓN -->

</head>
<body>
    <div id="toast-container">
        <div class="toast-card">
            <img id="toast-gif" src="" alt="Notification Gif">
            <div class="toast-content">
                <p id="toast-message"></p>
                <div id="toast-buttons">
                    <button id="toast-confirm">{{ _('Confirm') }}</button>
                    <button id="toast-cancel">{{ _('Cancel') }}</button>
                </div>
            </div>
            <div class="toast-progress-bar">
                <div id="toast-progress"></div>
            </div>
        </div>
    </div>

    {% block body_content %}{% endblock %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Scripts de Toast y Temas -->
    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    {% block theme_scripts %}{% endblock %}

    <!-- Scripts adicionales de la página -->
    {% block scripts %}{% endblock %}
</body>
</html>