{% extends "dashboard.html" %}
{% block title %}{{ _('Select Server...') }}{% endblock %}

{% block dashboard_content %}
    <div class="initial-prompt-wrapper">
        <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="{{ _('Loading...') }}" class="prompt-gif">
        <p class="prompt-text">{{ _('Loading servers...') }}</p>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{# El script de redirección ha sido eliminado y su lógica movida al backend (ruta /dashboard) #}
{% endblock %}